@import "tailwindcss";

/* En tu globals.css */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
   margin-top: 16px;
   margin-bottom: 16px;
}

::-webkit-scrollbar-thumb {
  background: rgb(11, 11, 131);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(11, 11, 131);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */